@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono", monospace;
}

/* Header Section */


nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Shared section */
.dark {
    color: #0D1321;
}
.namee{
    font-size: 28px;
    font-weight: bolder;
}

.btn{
    margin-right: 150px;
    background-color: white;
    border-radius: 8px;
     padding: 17px 24px;
     font-weight: 600;
     color:#0D1321;
     font-size: 20px;
     
}

/* Banner Section */
.banner{
    margin-top: 48px;
    position: relative;
  
}

.img2{
    position: absolute;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
}
.banner-title{
    top:40%;
    position: absolute;
    margin-left: 200px;
    
    text-align: center;
    font-weight:bolder;
    font-size: 48px;
}
.para{
    top:65%;
    position: absolute;
    margin-left: 279px;
    
    text-align: center;
    font-weight:200px;
    font-size: 16px;
}
.btn1{
    top:85%;
    position: absolute;
    margin-left:570px;
    
    text-align: center;
    font-weight:200px;
    font-size: 16px;
    background-color: #0D1321;
    border-radius: 8px;
     padding: 21px 24px;
     font-weight: 600;
     color: white;
     text-decoration: none;
     
}

main{
    max-width: 1140px;
    margin: 0 auto;
    
    
}
.second-bg{
    background-color: #fafafa;
    padding: 80px 97px;
    border-radius: 16px;
    margin-top: 74px;
}
.second-head{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.para1{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}
.imp{
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
}
.imp1{
    padding: 48px;
}
.j{
    font-size: 24px;
    font-weight: bold;
    color:#515153;
}
.para2{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321;
}
.learn{
    font-size:20px;
    font-weight: 600;
    color:#0D1321;
    padding: 12px 20px;
    background-color: white;
    margin-top: 32px;
    border-color: #888888;
}
.imp{
    display: flex;
    justify-content: space-between;
}
.cm{
    height: 240px;
    width: 275px;
    margin-top: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
}
.cm2{
    height: 240px;
    width: 240px;
    margin-top: 48px;
    margin-left: 48px;
    margin-bottom: 48px;
}
.cm3{
    height: 240px;
    width: 240px;
    margin-top: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
}
.third-bg{
    
    max-width: 852px;
    margin: 0 auto;
}
.third-title{
    text-align: center;
    color:#0D1321;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 90px;
}
.para3{
    text-align: center;
    color:#0D1321;
    font-size: 16px;
    font-weight: 400;
}
.vid{
    margin-top: 45px;
    border-radius: 16px;
   justify-content: center;
   display: flex;
   align-items: center;
 margin-left: -70px;
    
    
}
.hq{
    text-align: center;
    color:#0D1321;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 151px;
}
.para4{
    text-align: center;
    color:#0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}
.thr{
    max-width: 364px;
    background-color: #fcefed;
    padding: 40px;
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 24px;
}
.one-title{
    font-size: 24px;
    font-weight: bolder;
    color:#0D1321;
}
.one-para{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321;
}
.one-a{
    font-size: 16px;
    font-weight: bold;
    color:#0D1321;
}
.allinone{
    display:flex;
    
}
.thr1{
    max-width: 364px;
    background-color: #e9eef8;
    padding: 40px;
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 24px;
}
.thr2{
    max-width: 364px;
    background-color: #fcf7e2;
    padding: 40px;
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 24px;
}

.hp{
    text-align: center;
    color:#0D1321;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 111px;
}
.para5{
    text-align: center;
    color:#0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.thrr{
    display: flex;
    align-items: center;
    margin-top: 48px;
    border:1px solid #c5c5c5;
    border-radius: 16px;
    max-width: 1140px;
    padding: 40px;
    
    
}
.thrr-img1{
    height: 95px;
    width: 108px;
    margin-right: 24px;
    
}
.two-head{
    font-size: 24px;
    font-weight: bolder;
    color: #0D1321;
}
.two-para{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.twoa{
    font-size: 16px;
    font-weight: bold;
    color:#0D1321;
}

.thrr1{
    display: flex;
    align-items: center;
    margin-top: 24px;
    border:1px solid #c5c5c5;
    border-radius: 16px;
    max-width: 1140px;
    padding: 40px;
    
    
}
.thrr2{
    display: flex;
    align-items: center;
    margin-top: 24px;
    border:1px solid #c5c5c5;
    border-radius: 16px;
    max-width: 1140px;
    padding: 40px;
    
    
}
.sixth-bg{
   
    width: 1140px;
    height: 313px; 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
   
    text-align: center; 
    margin-top: 49px;
}
.six{
    padding: 64px 48px;
}
.six-head{
    color:white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.six-para{
    color:white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.six-one{
    display: flex;
    align-items: center;
   
}
.inp{
    width: 548px;
   height: 17px;
    padding:20px;
    border-radius: 8px;
    margin-left: 200px;
}
.btnn{
    margin-left: 16px;
    width: 120px;
   height: 57px;
   
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    

}
.foot{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    background-color: #f1f1f1;
    align-items: center;
    height: 40px;
    padding: 32px 150px;
    
}
 
.foot-para{
   
    font-size: 20px;
    font-weight: 800;
    color:#0D1321;
}
.foot-one{
    text-decoration: none;
    display: flex;
    gap:15px;
    
}

footer{
    width: 100%;
}
