@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono", monospace;
}

/* Header Section */


nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Shared section */
.dark {
    color: #0D1321;
}
.namee{
    font-size: 28px;
    font-weight: bolder;
}

.btn{
    margin-right: 150px;
    background-color: white;
    border-radius: 8px;
     padding: 17px 24px;
     font-weight: 600;
     color:#0D1321;
     font-size: 20px;
     
}

/* Banner Section */
.banner{
    margin-top: 48px;
    position: relative;
  
}
.img2{
    position: absolute;
    
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
}
.banner-title{
    top:40%;
    position: absolute;
    margin-left: 200px;
    
    text-align: center;
    font-weight:bolder;
    font-size: 48px;
}
.para{
    top:65%;
    position: absolute;
    margin-left: 279px;
    
    text-align: center;
    font-weight:200px;
    font-size: 16px;
}
.btn1{
    top:85%;
    position: absolute;
    margin-left:570px;
    
    text-align: center;
    font-weight:200px;
    font-size: 16px;
    background-color: #0D1321;
    border-radius: 8px;
     padding: 21px 24px;
     font-weight: 600;
     color: white;
     
}

main{
    max-width: 1140px;
    margin: 0 auto;
    
    
}
.second-bg{
    background-color: #fafafa;
    padding: 80px 97px;
    border-radius: 16px;
    margin-top: 74px;
}
.second-head{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.para1{
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}
.imp{
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;
}
.imp1{
    padding: 48px;
}
.j{
    font-size: 24px;
    font-weight: bold;
    color:#515153;
}
.para2{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321;
}
.learn{
    font-size:20px;
    font-weight: 600;
    color:#0D1321;
    padding: 12px 20px;
    background-color: white;
    margin-top: 32px;
    border-color: #888888;
}
.imp{
    display: flex;
    justify-content: space-between;
}
.cm{
    height: 240px;
    width: 275px;
    margin-top: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
}
.cm2{
    height: 240px;
    width: 240px;
    margin-top: 48px;
    margin-left: 48px;
    margin-bottom: 48px;
}
.cm3{
    height: 240px;
    width: 240px;
    margin-top: 48px;
    margin-right: 48px;
    margin-bottom: 48px;
}
.third-bg{
    
    max-width: 852px;
    margin: 0 auto;
}
.third-title{
    text-align: center;
    color:#0D1321;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 90px;
}
.para3{
    text-align: center;
    color:#0D1321;
    font-size: 16px;
    font-weight: 400;
}
.vid{
    margin-top: 45px;
    border-radius: 16px;
   justify-content: center;
   display: flex;
   align-items: center;
 margin-left: -70px;
    
    
}